{% extends 'customer/order.html' %}
{% block title  %}
  Chinese
{% endblock title  %}
{% block content %}
        <div class="pt-5">
            <h1>Chinese</h1>
            {% for chinese in Chinese %}
            <div class="row mt-4">
                <div class="col-md-2 col-sm-12">
                    <img class="rounded" src="{{ chinese.image.url }}" width="150" height="100"/>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="d-flex flex-row">
                        <div class="form-group form-check">
                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ chinese.pk }}">
                            <label class="form-check-label">{{ chinese.name }}</label>
                        </div>
                        <p class="font-weight-bold pl-5">{{ chinese.price }}</p>
                    </div>
                    <p>{{ chinese.description }}</p>
                </div>
            </div>
            <hr />
            {% endfor %}
        </div>
{% endblock content %}